.profileContainer {
    // --ion-background-color: #393e46;
    display: flex;
}
.profileHeader{
    --ion-background-color:#fecd1a;
}
.cardProfile {
    --background : white ; 
    display: flex;
    height: 103%;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
    align-items: center;

    .backgroundImage{
        display: flex;
        // justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #fecd1a;
        width: 100%;
        height: 25%;
        flex-direction: column;

        .userName {
            margin-top: 20px;
        }
    }
    .profilePicture {
        margin-top: -30px;
        border: 1px black solid;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
}